@page "/test-tables"

<PageTitle>TestTables</PageTitle>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12 col-md-6">
        <RadzenText Text="TestTables" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
    </div>
    <div class="col-12 col-md-6 justify-content-start justify-content-md-end" style="display: flex; align-items: center; flex-wrap: wrap; gap: 0.5rem">
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"  AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
            Data="@testTables" Count=count LoadData=@Grid0LoadData  TItem="RadzenTest.Server.Models.DevOps_Proj_Database.TestTable" RowSelect="@EditRow" >
            <Columns>
                <RadzenDataGridColumn TItem="RadzenTest.Server.Models.DevOps_Proj_Database.TestTable" Property="Test" Title="Test">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTest.Server.Models.DevOps_Proj_Database.TestTable" Property="CanNateSeeThis" Title="CanNateSeeThis">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="RadzenTest.Server.Models.DevOps_Proj_Database.TestTable" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="testTable">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, testTable)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
